.dropdownItem {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
}
.searchInputWrapper {
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
}
.searchOptionText {
    font-size: 14px;
    line-height: 16px;
}
.streamSelectInput {
    padding: 12px 10px;
    min-width: 150px;
    text-transform: uppercase;
}